@import url("https://fonts.googleapis.com/css2?family=Telex&display=swap");

.App {
}

.home {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url("./images/bg1.png");
}

.home > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Telex", sans-serif;
  color: white;
  height: auto;
  width: 80%;
}

.title-group {
  display: flex;
  flex-direction: column;
  margin: 0 0 7rem 0;
}

.home > div > div > h1 {
  font-size: 20rem;
  margin: 0 0 0 0;
  height: 21rem;
}

.home > div > div > h2 {
  align-self: flex-end;
  margin: 0 1rem 0 0;
}

.home > div > button {
  font-family: "Telex", sans-serif;
  color: white;
  margin: 0 12rem 7rem 0;
  border: none;
  background: none;
  border: 1px solid white;
  width: 8rem;
  height: 2rem;
  transition: all 0.1s ease-in-out;
}

.home > div > button:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}

/* ABOUT SECTION  */

.about {
  height: 100vh;
  width: 100%;
  background-color: white;
}
